<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
                    <h1>Edit Item</h1>
    <form action="/product/<%=Product.id %>?_method=PUT" method="POST">
        <label>
            Name:
            <input type="text" name="name" value="<%= Product.name %>" >
        </label>
        <br>
        <label>
            Img:
            <input type="text" name="img" value="<%= Product.img %>" >
        </label>
        <br>
        <label>
            Price: $
            <input type="number" name="price" value="<%= Product.price %>" >
        </label>
        <br>
        <label>
            Category: 
            <input type="text" name="category" value="<%= Product.category %>" >
        </label>
        <br>
            <input type="submit" value="Edit Product">
    </form>
</body>
</html>