<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1><img src="https://i.imgur.com/2Bf8jiF.jpg" alt="" height="15%" width="15%"></h1>
        
                <class="nav-btns">
                <h2><a href="https://www.facebook.com/profile.php?id=100023486103528" class="btn-nav-i"><img src="https://i.imgur.com/rB1CJLo.png" alt="" height="3%" width="3%"></a>
                <a href="https://instagram.com/e_kustomsllc?igshid=YmMyMTA2M2Y=" class="btn-nav-i"><img src="https://i.imgur.com/JDowZkb.jpg" alt="" height="3%" width="3%"></a>
                <a href="" class="btn-nav-i"><img src="https://i.imgur.com/P7BbMb7.png" alt="" height="4%" width="4%"></a>
            </h2>
            <class="list-product">

                <a href="/product" class="link">Graphic Shirts</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kustoms" class="link">Kustoms</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/about" class="link">About Me</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/questions" class="link">Frequent Q&A's</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/login" class="link">Login</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/logout" class="link">Logout</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/signup" class="link">SignUp</a>
                
            </div>
        </nav>
        <br>
    </header>
    <hr>
    <a href="/"><button> Home </button></a>

    <h1><%= Product.name %></h1>
    <img src=" <%= Product.img %> " alt="" width="50%" height="50%"> 
    <p> $<%= Product.price %></p>
    <p><%= Product.category %></p>


<hr>
<h3>Reviews - Average Rating</h3>
<% let ratingAverage = 0 %> 
<% Product.reviews.forEach(r => { %>
<% ratingAverage += r.rating %> 
    <div>
        <p>
            <strong><%= r.rating %></strong>
            &nbsp;&nbsp;
            <%= r.body %>
        </p>
    </div>
<% }); %> 
<h5>Average Rating <%= parseInt(ratingAverage / Product.reviews.length);  %> </h5>
<h3>Leave Review On Item</h3>
<form action="/product/<%= Product._id %>/reviews" method="POST">
        <label>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
    </select>
        </label>
        <br>
<label> Review:
<textarea name="body" cols="50" rows="5"></textarea>
</label>
<br><br>
<input type="submit"  value="Add Review">
</form>
<br>
<br>

<form action="/product/<%= Product._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete Item">
</form>
    <a href="/product/<%=Product._id%>/edit"> <button> Edit Item</button></a>

</body>
<hr>
<footer>
    <p>Copyright &copy; All Rights Reserved Ekustoms <%= new Date().getFullYear() %> </p>
</footer>
</html>