<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url('https://i.imgur.com/BdCKBbu.jpg');">
    <header>
        <nav>
                
            <div class="logo">
                <h1 style="text-align: center;">
                    <a href="/"><img src="https://i.imgur.com/7zoIxQC.jpg" 
                        alt="" height="35%" width="35%" 
                        style="border-radius: 50%;"
                        class="center">
                </h1>
                    </a>
                   
        <class="list-product">
            <h4 style="text-align: center; background-color: yellowgreen;">
                <a href="/product" class="link" 
                    style="color: black; align-content: center;" >Graphic Shirts</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kustoms" class="link" style="color: black;">Kustoms</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/about" class="link" style="color: black;">About Me</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/portraits" class="link" style="color: black;">Portraits</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/questions" class="link" style="color: black;">Contact  E-Kustums</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kids" class="link" style="color: black;">Super Kids</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/murals" class="link" style="color: black;">Murals</a>
              
            </h4>
        </div>
    </nav>
   <style>
    h4{
        font-size: large;

    }
</style>
</header>
<a href="/"><button style="background-color: red; font-size: large;"> Home </button></a>






    <h1 style=" font-size: xxx-large; text-align: center;"><%= Product.name %></h1>
    <img src=" <%= Product.img %> " alt="" width="50%" height="50%"> 
    <p style="text-align: left; font-size: x-large; color: greenyellow;"> $<%= Product.price %></p>
    <p><%= Product.category %></p>

    <a href="mailto:ekustoms8@gmail.com">
        <button 
        style="color: greenyellow; background-color:black; font-size: large; "> Inquire 
        </button>  
    </a>

    <h5> <br> <br>Customer Reviews:
<% let ratingAverage = 0 %> 
<% Product.reviews.forEach(r => { %>
<% ratingAverage += r.rating %> 
    <div>
        <p>
            <strong><%= r.rating %></strong>
            &nbsp;&nbsp;
            <%= r.body %>
        </p>
    </div>
<% }); %> 


    <br>
    Average Rating <%= parseInt(ratingAverage / Product.reviews.length);  %> 
<br><br></h5>

<form action="/product/<%= Product._id %>/reviews" method="POST">
        <label>
    <select name="rating">
        <option value="1">⭐️</option>
        <option value="2">⭐️⭐️</option>
        <option value="3">⭐️⭐️⭐️</option>
        <option value="4">⭐️⭐️⭐️⭐️</option>
        <option value="5" selected>⭐️⭐️⭐️⭐️⭐️</option>
    </select>
        </label>
        <br>
        <br>
<label style="color: greenyellow;font-size: x-large;"> Review:
<textarea name="body" cols="50" rows="3"></textarea>
</label>
<br><br><br>
<input type="submit"  value="Add Review">
</form>


</body>
</html>

<style>
    footer{
        text-align: center;
        background-color: white;
    }

    footer{
        text-align: center;
    }
    h4{
        text-align: center;
        
    }
    
    footer{
        color: white;
    }
    
    h2{
        background-color: black;
        text-align:center;
        color: yellowgreen;
        
    }
    main{
        background-color: black;
    }
    h3{
        text-align: right;
    }
    h5{
        text-align: center;
        background-color: black;
        color: yellowgreen;
        font-size: medium;
    }
    p{
        color: yellowgreen;
        text-align: center;
    }
    </style>