<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
                <class="nav-btns">
                <h3 ><a href="https://www.facebook.com/profile.php?id=100023486103528" class="btn-nav-i"><img src="https://i.imgur.com/rB1CJLo.png" alt="" height="3%" width="3%"></a>
                <a href="https://instagram.com/e_kustomsllc?igshid=YmMyMTA2M2Y=" class="btn-nav-i"><img src="https://i.imgur.com/JDowZkb.jpg" alt="" height="3%" width="3%"></a>
                <a href="" class="btn-nav-i"><img src="https://i.imgur.com/P7BbMb7.png" alt="" height="4%" width="4%"></a>
            </h3>
            <div class="logo">
    
                <h1 style="text-align: center;">
                    <a href="/"><img src="https://i.imgur.com/2Bf8jiF.jpg" alt="" height="20%" width="20%" class="center"></h1>
                    </a>
                    <main>
            <class="list-product">
                <h4>
                <a href="/product" class="link" style="color: greenyellow; border-style: solid; align-content: center;" >Graphic Shirts</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kustoms" class="link" style="color: greenyellow; border-style: solid;">Kustoms</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/about" class="link" style="color: greenyellow; border-style: solid;">About Me</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/portraits" class="link" style="color: greenyellow; border-style: solid;">Portraits</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/questions" class="link" style="color: greenyellow; border-style: solid;">Frequent Q&A's</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <a href="/logout" class="link" style="color: red;"> Logout</a>
                &nbsp; 
                <a href="/login" class="link" style="color: red;"> Login </a>
                &nbsp; 
                <a href="/signup" class="link" style="color: red;"> SignUp</a>
            </h4>
        </div>
    </nav>
    
</header>
<a href="/"><button style="background-color: red;"> Home </button></a>






    <h1><%= Product.name %></h1>
    <img src=" <%= Product.img %> " alt="" width="50%" height="50%"> 
    <p> $<%= Product.price %></p>
    <p><%= Product.category %></p>


<hr>
<h3>Reviews - Average Rating</h3>
<% let ratingAverage = 0 %> 
<% Product.reviews.forEach(r => { %>
<% ratingAverage += r.rating %> 
    <div>
        <p>
            <strong><%= r.rating %></strong>
            &nbsp;&nbsp;
            <%= r.body %>
        </p>
    </div>
<% }); %> 
<h5>Average Rating <%= parseInt(ratingAverage / Product.reviews.length);  %> </h5>
<h3>Leave Review On Item</h3>
<form action="/product/<%= Product._id %>/reviews" method="POST">
        <label>
    <select name="rating">
        <option value="1">⭐️</option>
        <option value="2">⭐️⭐️</option>
        <option value="3">⭐️⭐️⭐️</option>
        <option value="4">⭐️⭐️⭐️⭐️</option>
        <option value="5" selected>⭐️⭐️⭐️⭐️⭐️</option>
    </select>
        </label>
        <br>
<label> Review:
<textarea name="body" cols="50" rows="5"></textarea>
</label>
<br><br>
<input type="submit"  value="Add Review">
</form>
<br>
<br>

<form action="/product/<%= Product._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete Item">
</form>
    <a href="/product/<%=Product._id%>/edit"> <button> Edit Item</button></a>

</body>
<br><br><br><br>
<hr>
<footer>
    <p>Copyright &copy; All Rights Reserved Ekustoms <%= new Date().getFullYear() %> </p>
</footer>
</html>




<style>
    footer{
        text-align: center;
    }
    h4{
        text-align: center;
        
    }
    body{
        background-color:white;
    } 
    footer{
        background-color:;
        color: white;
    }
    header{
        background-color: white;
    }
    h2{
        background-color: black;
        text-align:center;
        color: yellowgreen;
        
    }
    main{
        background-color: black;
    }
    h3{
        text-align: right;
    }
    h5{
        text-align: center;
        background-color: red;
        color: yellowgreen;
        font-size: medium;
    }
    p{
        color: yellowgreen;
        text-align: center;
    }
    </style>